 *{
 	margin: 0;
 	padding: 0;
 }

 body
{
	background: #5e6aa0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	
	background: -moz-radial-gradient(center, ellipse cover,  #5e6aa0 1%, #002f42 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#5e6aa0), color-stop(100%,#002f42)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #5e6aa0 1%,#002f42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #5e6aa0 1%,#002f42 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #5e6aa0 1%,#002f42 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #5e6aa0 1%,#002f42 100%); /* W3C */
	
	font-family: "Helvetica";
	font-size: 16px;
	color: #F5F5F5;
}
header
{
	padding: 60px 0 40px 0;
	margin: 0 auto;
	width: 70%;
}
header h1
{
	color: orange;
	font-size: 3em;
	margin: 0 auto;
}

hr {
	width: 70%;
	margin: 0 auto;
}
section
{
	padding: 20px 0 30px 0;
	margin: 0 auto;
	width: 70%;
	height: 600px;
}

section article
{
	background-color: white;
	margin: 30px 0 30px 0;
	padding: 30px 0 30px 0;
}

section article h2
{
	color: #304B67;

}
.titulofecha
{
	font-size: 1.5em;
	color: black;

}
.boton1
{
	background:-moz-linear-gradient(#fc0 0%,#F60 100%); 
	background:-ms-linear-gradient(#fc0 0%,#F60 100%);
	background:-o-linear-gradient(#fc0 0%,#F60 100%); 
	background:-webkit-linear-gradient(#fc0 0%,#F60 100%);
	background:linear-gradient(#fc0 0%,#F60 100%);
	border:solid 1px #DEDEDE; 
	border-radius:5px;
	text-align:center;
	padding:5px; 
	color: #3F0347;
	font-weight: bold;
	width:180px;
	height: 40px;
} 
.boton1:hover{
	background:-moz-linear-gradient(#fff 0%,#DEDEDE 100%);
	color: #123F83; 
}
footer
{
	background-color: #003351;
	position: relative;
    left: 0;
    bottom: 0;
    margin:0 auto;
    height: 100px;
    width: 100%;
}